<template>
  <div class="albums columns is-multiline">
    <div class="column is-full">
      <search-bar
      search-label="Albums search"
      :query="namesearch"
      :search-fn="searchFn"></search-bar>
    </div>
    <div v-for="album in albums.results"
      :key="album.id"
      class="column is-one-third">
      <div
        class="card">
        <router-link
          :to="albumLink(album.id)"
          class="card-image">
          <figure class="image is-square">
            <img :src="album.image" alt="Placeholder">
          </figure>
        </router-link>
        <div class="card-header">
          <p class="card-header-title">
            {{album.artist_name}} - {{album.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import router from '@/router'

import SearchBar from '@/components/SearchBar.vue'

export default {
  created () {
    this.namesearch = this.$route.query.namesearch

    this.getAlbums(this.namesearch)
  },
  data () {
    return {
      namesearch: ''
    }
  },
  methods: {
    ...mapActions([
      'getAlbums'
    ]),
    albumLink (albumId) {
      return {
        name: 'albumDetails',
        params: {
          albumId
        }
      }
    },
    searchFn (namesearch) {
      let routeData = {
        path: this.$route.path,
        query: {
          namesearch
        }
      }

      router.push(routeData)
    }
  },
  computed: {
    albums () {
      return this.$store.getters.albums
    }
  },
  beforeRouteUpdate (to, from, next) {
    this.namesearch = to.query.namesearch

    this.getAlbums(this.namesearch)

    next()
  },
  components: {
    SearchBar
  }
}
</script>

<style lang="scss">

</style>
