<template>
  <div class="album-details">
    <album-data :album-data="albumData(albumId)"></album-data>

    <div class="columns is-mobile is-multiline">
      <track-data
        v-for="trackData in tracksByAlbumId(albumId)"
        :key="trackData.id"
        :track-data="trackData">
      </track-data>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import AlbumData from '@/components/AlbumData'
import TrackData from '@/components/TrackData'

export default {
  name: 'AlbumDetails',
  data () {
    return {
      albumId: this.$route.params.albumId
    }
  },
  created () {
    this.getAlbumById(this.albumId)
  },
  methods: {
    ...mapActions([
      'getAlbumById'
    ])
  },
  computed: {
    ...mapGetters({
      albumData: 'getAlbumById',
      tracksByAlbumId: 'getTracksByAlbumId'
    })
  },
  components: {
    AlbumData,
    TrackData
  }
}
</script>

<style>

</style>
