<template>
  <div class="home columns is-multiline">
    <div v-for="feed in feeds.results"
      :key="feed.id"
      class="column is-one-third">
      <div
        class="card">
        <div class="card-image">
          <figure class="image is-3by1">
            <img :src="feed.images.size996_350" alt="Placeholder">
          </figure>
        </div>
        <div class="card-header">
          <p class="card-header-title">
            {{feed.title.en}}
          </p>
        </div>
        <div class="card-content">
          <div class="content">
            <p>{{feed.text.en}}</p>
            <p class="has-text-right">
              <a :href="feed.link">Find out more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'home',
  created () {
    this.getFeeds()
  },
  methods: {
    ...mapActions({
      getFeeds: 'getFeeds'
    })
  },
  computed: {
    feeds () {
      return this.$store.getters.feeds
    }
  }
}
</script>
