<template>
  <div class="track-details">
    <div class="columns is-mobile is-multiline">
      <track-data v-show="trackData" :track-data="trackData"></track-data>
      <div class="column is-one-quarter-tablet is-full-mobile">
        <a class="notification is-primary is-flex" :href="trackData.audiodownload">
          <fa icon="download"></fa>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import TrackData from '@/components/TrackData'

export default {
  name: 'AlbumDetails',
  data () {
    return {
      trackId: this.$route.params.trackId
    }
  },
  created () {
    if (!this.trackData) {
      this.fetchTrackById(this.trackId)
    }
  },
  methods: {
    ...mapActions([
      'fetchTrackById'
    ])
  },
  computed: {
    ...mapGetters([
      'getTrackById'
    ]),
    trackData () {
      return this.getTrackById(this.trackId)
    }
  },
  components: {
    TrackData
  }
}
</script>

<style lang="scss" scoped>
  .track-details {
    .notification.is-flex {
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 1.5rem;
      font-size: 4rem;
    }
  }
</style>
