<template>
  <div class="tracks columns is-multiline">
    <div class="column is-full">
      <search-bar
      search-label="Tracks search"
      :query="namesearch"
      :search-fn="searchFn"></search-bar>
    </div>
    <!-- <div v-for="track in getSearchTracks"
      :key="track.id"
      class="column is-one-third">
      {{track}}

    </div> -->
    <track-data
        v-for="trackData in getSearchTracks"
        :key="trackData.id"
        :track-data="trackData">
      </track-data>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import router from '@/router'

import TrackData from '@/components/TrackData'
import SearchBar from '@/components/SearchBar.vue'

export default {
  created () {
    this.namesearch = this.$route.query.namesearch

    this.getTracks(this.namesearch)
  },
  data () {
    return {
      namesearch: ''
    }
  },
  methods: {
    ...mapActions([
      'getTracks'
    ]),
    searchFn (namesearch) {
      let routeData = {
        path: this.$route.path,
        query: {
          namesearch
        }
      }

      router.push(routeData)
    }
  },
  computed: {
    ...mapGetters([
      'getSearchTracks'
    ])
  },
  beforeRouteUpdate (to, from, next) {
    this.namesearch = to.query.namesearch

    this.getTracks(this.namesearch)

    next()
  },
  components: {
    TrackData,
    SearchBar
  }
}
</script>

<style>

</style>
