<template>
  <header class="hero is-dark is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="navbar-brand">
          <router-link
            v-for="menuItem in menu"
            :key="menuItem.route"
            :to="menuItem.route"
            class="navbar-item">{{menuItem.title}}</router-link>
          <a @click="mobileMenuToggle" class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div :class="mobileMenuActiveClass" class="navbar-menu">
          <div class="navbar-end">
            <router-link to="/" class="navbar-item">Link 1</router-link>
            <router-link to="/" class="navbar-item">Link 2</router-link>
            <router-link to="/" class="navbar-item">Link 3</router-link>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title">V Music</h1>
        <h2 class="subtitle">Simple Jamendo App</h2>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'home-hero',
  data () {
    return {
      mobileMenuActive: false
    }
  },
  computed: {
    menu () {
      return this.$store.getters.menu
    },
    mobileMenuActiveClass () {
      return this.mobileMenuActive
        ? ['is-active']
        : []
    }
  },
  methods: {
    mobileMenuToggle () {
      this.mobileMenuActive = !this.mobileMenuActive
    }
  }
}
</script>

<style lang="scss">

</style>
