<template>
  <div class="album-data columns is-mobile is-multiline" v-if="albumData">
    <div class="column is-one-quarter-tablet is-full-mobile has-album-cover">
      <figure class="image is-square">
        <img :src="albumData.image" :alt="coverAlt">
      </figure>
    </div>
    <div class="column is-one-quarter-tablet is-half-mobile has-album-data">
      <div class="notification is-primary is-flex">
        {{albumData.name}}
      </div>
    </div>
    <div class="column is-one-quarter-tablet is-half-mobile has-album-data">
      <div class="notification is-info is-flex">
        {{albumData.artist_name}}
      </div>
    </div>
    <div class="column is-one-quarter-tablet is-half-mobile has-album-data">
      <a class="notification is-info is-flex download-link" :href="downloadLink">
        <fa icon="download"></fa>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AlbumData',
  computed: {
    coverAlt () {
      return `Cover of ${this.albumData.name}`
    },
    downloadLink () {
      let url = `${process.env.VUE_APP_API_URL}/albums/file`
      url += `?client_id=${process.env.VUE_APP_CLIENT_ID}`
      url += `&id=${this.albumData.id}`

      return url
    }
  },
  props: ['albumData']
}
</script>

<style lang="scss" scoped>
  .album-data {
    .has-album-data {
      .notification {
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1.5rem;
      }
      .download-link {
        font-size: 4rem;
      }
    }
    .has-album-cover {
      justify-content: center;
    }
  }
</style>
