<template>
  <nav class="panel playlist has-text-left">
    <p class="panel-heading">
      playlist
    </p>
    <div
      class="panel-block playlist-item"
      v-for="(music, idx) in playlist" :key="music.id"
      @click="changeMusicByIdx(idx)"
      :class="{ 'is-active': idx === currentMusicIdx }">
      <span class="panel-icon">
        <fa icon="music"></fa>
      </span>
      <strong>{{music.name}}</strong>
      <small>{{music.artist_name}}</small>

      <div class="duration has-text-right">
        {{getFormattedDuration(music.duration)}}

        <button class="button is-danger is-small is-outlined remove-track"
          @click.stop="removePlaylistItemByIdx(idx)">
          <fa icon="times"></fa>
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import helpers from '../helpers'

export default {
  name: 'AudioPlayerPlaylist',
  computed: {
    ...mapGetters([
      'playlist',
      'currentMusicIdx'
    ])
  },
  methods: {
    ...mapActions([
      'changeMusicByIdx',
      'removePlaylistItemByIdx'
    ]),
    getFormattedDuration: helpers.formatTimeFromSeconds
  }
}
</script>

<style lang="scss" scoped>
  .playlist {
    background: white;
    min-width: 50vw;

    // TODO find a way to use Bulma variables
    @media screen and (max-width: 769px) {
      width: 90vw;
    }

    .playlist-item {
      cursor: pointer;

      strong, small {
        flex-grow: 1;
        width: 33%;
        padding: 0 0.1rem;
      }

      .duration {
        justify-self: flex-end;

        .remove-track {
          opacity: 0;
          transition: opacity 100ms ease-in;
        }

      }

      &:hover {
        .duration .remove-track {
          opacity: 1;
        }
      }

      @media screen and (max-width: 769px) {
        .duration .remove-track {
          opacity: 1;
        }
      }
    }
  }
</style>
