<template>
  <footer class="footer music-player columns is-mobile is-multiline"
    :class="mobileClassMain">
    <template v-show="currentMusic">
      <audio
        ref="audio"
        @play="onPlay"
        @pause="onPause"
        @ended="onEnded"
        @loadeddata="onLoadedData"
        @timeupdate="onTimeUpdate"
        autoplay>
          <source :src="audioSrc" type="audio/mp3">
      </audio>
      <div class="column is-half-touch has-controls">
        <div class="field has-addons primary-controls">
          <p class="control is-hidden-desktop">
            <button class="button is-primary" @click="toggleMobile">
              <fa :icon="mobileShowIcon"></fa>
            </button>
          </p>
          <p class="control">
            <button class="button is-primary" @click="prevMusic">
              <fa icon="chevron-left"></fa>
            </button>
          </p>
          <p class="control">
            <button class="button is-primary" @click="playPause">
              <fa :icon="playPauseIcon"></fa>
            </button>
          </p>
          <p class="control">
            <button class="button is-primary" @click="nextMusic">
              <fa icon="chevron-right"></fa>
            </button>
          </p>
        </div>
      </div>
      <div class="column is-half-desktop is-full-touch has-progress">
        <audio-player-progress
          :value="currentPosition"
          @player-progress-manual-change="progessManualChange($event)">
        </audio-player-progress>
      </div>
      <div class="column is-half-touch has-duration">
        {{formattedCurrentTime}} / {{formattedDuration}}
      </div>
      <div class="column has-playlist has-text-right is-full-touch is-1-desktop">
        <button class="button is-link is-hidden-touch" @click="togglePlaylist">
          <fa :icon="playlistShowIcon"></fa>
        </button>
        <audio-player-playlist
          v-show="playlistShow"
          class="audio-player-playlist"></audio-player-playlist>
      </div>
    </template>
  </footer>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import helpers from '@/helpers'

import AudioPlayerPlaylist from './AudioPlayerPlaylist'
import AudioPlayerProgress from './AudioPlayerProgress'

export default {
  name: 'AudioPlayer',
  data () {
    return {
      formattedCurrentTime: '00:00',
      formattedDuration: '00:00',
      currentPosition: 0,
      paused: true,
      playlistShow: false,
      isOpenedMobile: false
    }
  },
  methods: {
    ...mapActions([
      'addMusicToPlaylist',
      'nextMusic',
      'prevMusic'
    ]),
    onPlay () {
      this.paused = false
    },
    onPause () {
      this.paused = true
    },
    onEnded () {
      this.nextMusic()
    },
    onLoadedData () {
      this.paused = false
      this.formattedDuration = helpers.formatTimeFromSeconds(this.$refs.audio.duration)
    },
    onTimeUpdate () {
      if (!this.$refs.audio) {
        return
      }

      let currentTime = this.$refs.audio.currentTime
      let duration = this.$refs.audio.duration

      this.formattedCurrentTime = helpers.formatTimeFromSeconds(currentTime)
      this.currentPosition = Math.round(currentTime / duration * 100) || 0
    },
    playPause () {
      this.paused
        ? this.$refs.audio.play()
        : this.$refs.audio.pause()
    },
    togglePlaylist () {
      this.playlistShow = !this.playlistShow
    },
    toggleMobile () {
      this.isOpenedMobile = !this.isOpenedMobile
    },
    progessManualChange (val) {
      this.$refs.audio.pause()
      this.$refs.audio.currentTime = this.$refs.audio.duration * (val / 100)
      this.$refs.audio.play()
    }
  },
  computed: {
    ...mapGetters([
      'currentMusic',
      'playlist'
    ]),
    audioSrc () {
      return this.currentMusic
        ? this.currentMusic.audio
        : ''
    },
    playPauseIcon () {
      return this.paused
        ? 'play'
        : 'pause'
    },
    playlistShowIcon () {
      return `chevron-${this.playlistShow ? 'down' : 'up'}`
    },
    mobileShowIcon () {
      return `chevron-${this.isOpenedMobile ? 'down' : 'up'}`
    },
    mobileClassMain () {
      return this.isOpenedMobile
        ? ['is-opened']
        : null
    }
  },
  watch: {
    audioSrc (newVal, oldVal) {
      this.$refs.audio.load()
      this.$refs.audio.play()
    }
  },
  components: {
    AudioPlayerPlaylist,
    AudioPlayerProgress
  }
}
</script>

<style lang="scss" scoped>
  $playerHeight: 11.5vh;

  .music-player {
    position: fixed;
    padding: 1.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100vw;
    height: $playerHeight;
    min-height: 100px;
    box-shadow: 0 -3px 5px black;
    z-index: 50;

    @media screen and (max-width: 1088px) {
      padding-top: 0;
      bottom: -90vh + $playerHeight;
      left: 0;
      // width: 100%;
      height: 90vh;
      transition: bottom 200ms;
      align-items: flex-start;

      &.is-opened {
        bottom: 0;
      }

      > .column.has-controls {
        order: 1;
      }
      > .column.has-duration {
        order: 2;
      }
      > .column.has-progress {
        order: 3;
      }
      > .column.has-playlist {
        order: 4;
        height: 100%;
      }
    }

    .audio-player-playlist {
      position: absolute;
      right: 0;
      bottom: $playerHeight;

      @media screen and (max-width: 1088px) {
        position: static;
        display: block !important;
      }
    }

    .has-playlist {
      position: relative;

      @media screen and (max-width: 1088px) {
        padding: 0;
      }
    }

    .has-progress,
    .has-duration {
      align-self: center;

      @media screen and (max-width: 1088px) {
        align-self: flex-start;
        text-align: center;
      }
    }

    .primary-controls {
      justify-content: center;
    }
  }
</style>
