<template>
  <div class="audio-player-progress"
    ref="playerProgress"
    @mousemove="playerProgressEvent"
    @click.left="playerProgressEvent">
    <div class="progress">
      <div class="progress-current" :style="knobStyles">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      required: true,
      type: Number
    },
    max: {
      required: false,
      type: Number,
      default: 100
    }
  },
  methods: {
    playerProgressEvent (event) {
      if (event.buttons === 1 || event.type === 'click') {
        let progressLeft = this.$refs.playerProgress.getBoundingClientRect().left
        let progressWidth = this.$refs.playerProgress.clientWidth
        let clientX = event.clientX
        let diff = clientX - progressLeft
        let percent = diff / progressWidth
        let value = Math.round(percent * 100)

        this.$emit('player-progress-manual-change', value)
      }
    }
  },
  computed: {
    normalizedValue () {
      return this.value / this.max * 100
    },
    knobStyles () {
      return {
        width: `${this.normalizedValue}%`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  $bkg: #e6e6e6;
  $knobColor: #00d1b2;

  .audio-player-progress {
    .progress {
      background-color: $bkg;

      .progress-current {
        background-color: $knobColor;
        height: 100%;
        width: 0;
      }
    }
  }
</style>
