<template>
  <div class="field has-addons has-addons-centered">
    <div class="control has-icons-left is-full">
      <input type="text" class="input"
        :placeholder="searchLabel"
        @keyup.enter="callSearch"
        v-model="searchQuery">
      <span class="icon is-left">
        <fa icon="search"></fa>
      </span>
    </div>
    <div class="control">
      <button class="button is-info" @click="callSearch">
        Search
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchBar',
  props: ['searchLabel', 'query', 'searchFn'],
  data () {
    return {
      searchQuery: this.query
    }
  },
  methods: {
    callSearch () {
      this.searchFn(this.searchQuery)
    }
  }
}
</script>

<style scoped>
  .control.is-full {
    flex-grow: 1;
  }
</style>
