<template>
  <div class="column is-one-third-desktop is-half-tablet is-full-mobile track-data">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img :src="trackData.album_image" :alt="albumImageAlt">
        </figure>
      </div>
      <div class="media-content">
        <router-link :to="trackPath">
          <strong>{{trackData.name}}</strong>
        </router-link>
        <small>
          {{trackData.artist_name}} | <router-link :to="albumPath">{{trackData.album_name}}</router-link>
        </small>
        <br>
        <small>
          <fa icon="clock"/> {{trackTime}}
        </small>
        <br>
        <nav class="field is-grouped">
          <p class="control">
            <button class="button is-primary is-outlined is-small" @click="addToPlaylist">
              <fa icon="plus"/>
            </button>
          </p>
        </nav>
      </div>

    </article>
  </div>
</template>

<script>
import helpers from '@/helpers'

export default {
  name: 'TrackData',
  props: ['trackData'],
  computed: {
    albumImageAlt () {
      return `Album image for ${this.trackData.name}`
    },
    trackTime () {
      return helpers.formatTimeFromSeconds(this.trackData.duration)
    },
    trackPath () {
      return {
        name: 'trackDetails',
        params: {
          trackId: this.trackData.id
        }
      }
    },
    albumPath () {
      return {
        name: 'albumDetails',
        params: {
          albumId: this.trackData.album_id
        }
      }
    }
  },
  methods: {
    addToPlaylist () {
      this.$store.commit('addMusicToPlaylist', this.trackData)
    }
  }
}
</script>

<style lang="scss" scoped>
  .track-data {
    .media-content a {
      color: rgb(54, 54, 54);
    }
  }
</style>
