<template>
  <div id="app">
    <home-hero/>
    <section class="section">
      <main class="container">
        <router-view/>
      </main>
    </section>
    <audio-player/>
  </div>
</template>

<style lang="scss" scoped>
  main {
    margin-bottom: 10vh;
  }
</style>

<script>
import HomeHero from '@/components/home/Hero'
import AudioPlayer from '@/components/AudioPlayer'
import { mapActions } from 'vuex'

export default {
  created () {
    this.getPlaylistFromStore()
  },
  methods: {
    ...mapActions([
      'getPlaylistFromStore'
    ])
  },
  components: {
    HomeHero,
    AudioPlayer
  }
}
</script>
